services:
  mosquitto:
    image: eclipse-mosquitto:2.0.21
    restart: on-failure
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./logs:/mosquitto/log
      - data:/mosquitto/data
    networks:
      - network
networks:
  network:
    driver: bridge
volumes:
  data:
    driver: local
